.card-container {
    transition: transform 0.2s ease, box-shadow 0.5s ease;
}

.card-container:hover {
    box-shadow: 6px 0px 6px rgba(255, 208, 0, 0.795);
}




.card-img {
    transition: transform 0.3s ease;
}

.card-container:hover .card-img {
    transform: scale(1.1);
}